/* Futura PT */
@font-face {
	font-family: 'Futura PT';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/Futura/futura-pt.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/Futura/futura-pt.otf');
	font-weight: 500;
}

/* Hanken Sans */
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Black.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Black.ttf');
	font-weight: 900;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-ExtraBold.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-ExtraBold.ttf');
	font-weight: 800;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-ExtraBoldItalic.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-ExtraBoldItalic.ttf');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Bold.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-boldItalic.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-boldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Medium.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-MediumItalic.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Regular.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Italic.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Italic.otf');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Light.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Hanken Sans';
	src: url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-LightItalic.eot'),
		url('https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/fonts/HankenSans/HankenSans-LightItalic.otf');
	font-weight: 300;
	font-style: italic;
}