@import '~variables';

.nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    @media (max-width: $mobile-width) {
        height: 100%;
    }
}
.message-alert {
    height: 10px;
    background: transparent;
    border: none;
    margin: 0;
}
