@import '~variables';

.movie-card {
    cursor: pointer;
    & >  img {
     height: 170px;
    }
}


.gallary {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @media (max-width: 760px) {
        grid-template-columns: auto;
    }
}

form {
    width: 500px;
    padding: 10px;
}